/* Fondo turquesa */
ion-content {
    --background: #215c84; /* Color sólido turquesa */
  }
  
  /* Estilos para la tarjeta de inicio de sesión */
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #imgDuoc_login {
    width: 100%; /* Ajusta al 100% del ancho disponible */
    max-width: 200px; /* Define un tamaño máximo */
    margin: 20px auto 10px auto; /* Centrado */
    display: block;
    object-fit: contain; /* Evita que la imagen se deforme o se corte */
    border-radius: 10px; /* Un ligero redondeo en las esquinas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
  }
  
  /* Títulos y subtítulos */
  ion-card-title {
    text-align: center;
    font-size: 1.5rem;
    color: #021461;
  }
  
  ion-card-subtitle {
    text-align: center;
    color: #333;
    font-size: 1rem;
  }
  
  /* Estilos para las entradas de usuario y contraseña */
  ion-item {
    --border-color: transparent;
    --highlight-color-focused: #236373;
    margin-bottom: 15px;
  }
  
  ion-input {
    --background: #fff;
    border-radius: 10px;
    padding: 10px;
    --padding-start: 15px;
    --color: #333;
    --placeholder-color: #888;
  }
  
  /* Botón de iniciar sesión */
  ion-button {
    display: block;
    margin: 20px auto;
    width: 100%;
    --background: #005ea3;
    --background-hover: #48cae4;
    --color: #fff;
    border-radius: 30px;
    font-size: 1rem;
    padding: 10px;
    transition: background 0.3s ease;
  }
  
  ion-button:hover {
    --background: #304144;
  }
  
  /* Mejora en la tipografía */
  body {
    font-family: 'Roboto', sans-serif;
  }
  